{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block title %}
    Financial Bundle
{% endblock %}

{% block content_content %}{% endblock %}

{% block content_sidebar %}{% endblock %}

{% block page_header %}
    <h1>{% trans %}finance.project.name{% endtrans %}</h1>
{% endblock %}

{% block footer %}
    <p>{% trans %}finance.project.copyright{% endtrans %}</p>
{% endblock %}