{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block title %}
    Financial Bundle
{% endblock %}

{% block content_content %}{% endblock %}

{% block content_sidebar %}{% endblock %}

{% block page_header %}
    <h1>Financial Bundle</h1>
    {#{% for item in get_menu() %}#}
        {#<ul class="{{ item.class }}">{{ item.title }}</ul>#}
    {#{% endfor %}#}
{% endblock %}

{% block footer %}
    <p>Financial Bundle 2016</p>
{% endblock %}