{% extends 'MopaBootstrapBundle::base_less.html.twig' %}
{#{% extends 'MopaBootstrapBundle::base_initializr.html.twig' %}#}
{% block title %}
    Financial Bundle
{% endblock %}

{% block content_content %}{% endblock %}

{% block content_sidebar %}{% endblock %}

{% block page_header %}
    <h1>Financial Bundle</h1>
{% endblock %}

{% block footer %}
    <p>Financial Bundle 2016</p>
{% endblock %}