{% extends 'CustomerBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="col-lg-9">
        <form
                class="well"
                action="{{ path('customer_create') }}"
                method="post">

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">
                Save
            </button>

        </form>
    </div>
{% endblock %}